In [1]:
import numpy as np
import pandas as pd
from collections import defaultdict
import operator
import time, datetime
from utils import *

modified 0330

In [2]:
bath_path = '/mnt/qb/work/mlcolab/hzhou52/kt/assistment12/2012-2013-data-with-predictions-4-final.csv'
log = pd.read_csv(bath_path, encoding = "utf-8",low_memory=False)

In [3]:
log.columns

Index(['problem_log_id', 'skill', 'problem_id', 'user_id', 'assignment_id',
       'assistment_id', 'start_time', 'end_time', 'problem_type', 'original',
       'correct', 'bottom_hint', 'hint_count', 'actions', 'attempt_count',
       'ms_first_response', 'tutor_mode', 'sequence_id', 'student_class_id',
       'position', 'type', 'base_sequence_id', 'skill_id', 'teacher_id',
       'school_id', 'overlap_time', 'template_id', 'answer_id', 'answer_text',
       'first_action', 'problemlogid', 'Average_confidence(FRUSTRATED)',
       'Average_confidence(CONFUSED)', 'Average_confidence(CONCENTRATING)',
       'Average_confidence(BORED)'],
      dtype='object')

In [13]:
log.head()

,problem_log_id,skill,problem_id,user_id,assignment_id,assistment_id,start_time,end_time,problem_type,original,...,overlap_time,template_id,answer_id,answer_text,first_action,problemlogid,Average_confidence(FRUSTRATED),Average_confidence(CONFUSED),Average_confidence(CONCENTRATING),Average_confidence(BORED)
0,137792159,NaN,557460,61394,565736,341511,2012-09-28 15:11:27,2012-09-28 15:11:36.856,choose_1,1,...,9852,341511,NaN,she,0,137792159,0.361323,0.0,0.336529,0.000000
1,138083797,Rounding,365981,61394,573819,204043,2012-10-09 11:01:52,2012-10-09 11:02:13.182,algebra,1,...,21175,204043,NaN,74.29,0,138083797,0.361323,0.0,0.766925,0.000000
2,142332619,Multiplication and Division Integers,426415,61394,734130,247525,2013-03-07 10:53:20,2013-03-07 10:53:28.661,algebra,1,...,8645,247525,NaN,00,0,142332619,0.361323,0.0,0.766925,0.442968
3,145939397,Proportion,86686,61394,821352,48081,2013-08-20 19:54:56,2013-08-20 19:55:21.753,algebra,1,...,25728,46362,NaN,3.8,0,145939397,0.775000,0.0,0.766925,0.912281
4,137111284,NaN,399669,76592,557216,227869,2012-09-10 17:20:10,2012-09-10 17:24:56.579,choose_1,1,...,286578,227869,NaN,C (wr - 1)(wr + 1),0,137111284,0.361323,0.0,0.766925,0.000000

In [14]:
len(log)

6123270

In [12]:
count_unique(log, log.columns)

number of unique value in problem_log_id: 6123270
number of unique value in skill: 199
number of unique value in problem_id: 179999
number of unique value in user_id: 46674
number of unique value in assignment_id: 189760
number of unique value in assistment_id: 138555
number of unique value in start_time: 4672374
number of unique value in end_time: 6121336
number of unique value in problem_type: 6
number of unique value in original: 2
number of unique value in correct: 13
number of unique value in bottom_hint: 3
number of unique value in hint_count: 15
number of unique value in actions: 6123270
number of unique value in attempt_count: 30
number of unique value in ms_first_response: 362600
number of unique value in tutor_mode: 2
number of unique value in sequence_id: 112403
number of unique value in student_class_id: 2661
number of unique value in position: 6747
number of unique value in type: 7
number of unique value in base_sequence_id: 110648
number of unique value in skill_id: 266
number of unique value in teacher_id: 1331
number of unique value in school_id: 662
number of unique value in overlap_time: 363516
number of unique value in template_id: 96403
number of unique value in answer_id: 3817
number of unique value in answer_text: 224740
number of unique value in first_action: 3
number of unique value in problemlogid: 6123270
number of unique value in Average_confidence(FRUSTRATED): 831
number of unique value in Average_confidence(CONFUSED): 2476
number of unique value in Average_confidence(CONCENTRATING): 842
number of unique value in Average_confidence(BORED): 11213

In [15]:
check_nan(log)

number of NaN in column problem_log_id: 0
number of NaN in column skill: 3493190
number of NaN in column problem_id: 0
number of NaN in column user_id: 0
number of NaN in column assignment_id: 0
number of NaN in column assistment_id: 0
number of NaN in column start_time: 0
number of NaN in column end_time: 0
number of NaN in column problem_type: 0
number of NaN in column original: 0
number of NaN in column correct: 0
number of NaN in column bottom_hint: 60348
number of NaN in column hint_count: 0
number of NaN in column actions: 0
number of NaN in column attempt_count: 0
number of NaN in column ms_first_response: 0
number of NaN in column tutor_mode: 0
number of NaN in column sequence_id: 0
number of NaN in column student_class_id: 0
number of NaN in column position: 0
number of NaN in column type: 0
number of NaN in column base_sequence_id: 0
number of NaN in column skill_id: 3411457
number of NaN in column teacher_id: 0
number of NaN in column school_id: 157
number of NaN in column overlap_time: 0
number of NaN in column template_id: 0
number of NaN in column answer_id: 6114995
number of NaN in column answer_text: 346338
number of NaN in column first_action: 0
number of NaN in column problemlogid: 0
number of NaN in column Average_confidence(FRUSTRATED): 0
number of NaN in column Average_confidence(CONFUSED): 0
number of NaN in column Average_confidence(CONCENTRATING): 0
number of NaN in column Average_confidence(BORED): 0

In [5]:
count_unique(log, ['user_id', 'skill_id', 'problem_id'])
print(len(log))

number of NaN in column problem_log_id: 0
number of NaN in column skill: 3493190
number of NaN in column problem_id: 0
number of NaN in column user_id: 0
number of NaN in column assignment_id: 0
number of NaN in column assistment_id: 0
number of NaN in column start_time: 0
number of NaN in column end_time: 0
number of NaN in column problem_type: 0
number of NaN in column original: 0
number of NaN in column correct: 0
number of NaN in column bottom_hint: 60348
number of NaN in column hint_count: 0
number of NaN in column actions: 0
number of NaN in column attempt_count: 0
number of NaN in column ms_first_response: 0
number of NaN in column tutor_mode: 0
number of NaN in column sequence_id: 0
number of NaN in column student_class_id: 0
number of NaN in column position: 0
number of NaN in column type: 0
number of NaN in column base_sequence_id: 0
number of NaN in column skill_id: 3411457
number of NaN in column teacher_id: 0
number of NaN in column school_id: 157
number of NaN in column overlap_time: 0
number of NaN in column template_id: 0
number of NaN in column answer_id: 6114995
number of NaN in column answer_text: 346338
number of NaN in column first_action: 0
number of NaN in column problemlogid: 0
number of NaN in column Average_confidence(FRUSTRATED): 0
number of NaN in column Average_confidence(CONFUSED): 0
number of NaN in column Average_confidence(CONCENTRATING): 0
number of NaN in column Average_confidence(BORED): 0
number of unique value in user_id: 46674
number of unique value in skill_id: 266
number of unique value in problem_id: 179999
6123270

In [26]:
log['correct'].mean()

0.6768206326031685

In [6]:
remove_thres = 50

log = log[~log.skill_id.isna()]
log = remove_log(log, 'user_id', num=remove_thres)
print(len(log))

2431788

In [7]:
# 2: 2710913
# 50: 2431788

# pre-process

In [8]:
# create new data
df = pd.DataFrame(columns=['user_id', 'problem_id', 'skill_id', 'timestamp', 'dwell_time', 'correct'])
df.user_id = log.user_id
df.problem_id = log.problem_id
df.skill_id = log.skill_id
# df.timestamp = log.start_time.apply(lambda t: time.mktime(time.strptime(t, '%Y-%m-%d %H:%M:%S')))
# df.dwell_time = df.timestamp - log.end_time.apply(lambda t: time.mktime(time.strptime(t, '%Y-%m-%d %H:%M:%S')))
df.correct = log.correct * 1

time_format = "%Y-%m-%d %H:%M:%S"
log.startime = log.start_time.apply(lambda t: time.mktime(datetime.strptime(t.split('.')[0], time_format).timetuple()))
log.endtime = log.end_time.apply(lambda t: time.mktime(datetime.strptime(t.split('.')[0], time_format).timetuple()))
df.timestamp = (log.startime+log.endtime)/2
df.dwell_time = log.endtime - log.startime

In [15]:
df = df.sort_values('timestamp', ascending=True)

In [16]:
# re-index
# - skill
skill_id = list(df['skill_id'].unique())
skill_dict = dict(zip(skill_id, range(len(skill_id))))
df['skill_id'] = df['skill_id'].apply(lambda x: skill_dict[x])

# - problem
pro_id = list(df['problem_id'].unique())
pro_dict = dict(zip(pro_id, range(len(pro_id))))
df['problem_id'] = df['problem_id'].apply(lambda x: pro_dict[x])

# - student
stu_id = list(df['user_id'].unique())
stu_dict = dict(zip(stu_id, range(len(stu_id))))
df['user_id'] = df['user_id'].apply(lambda x: stu_dict[x])

In [17]:
df

         user_id  problem_id  skill_id     timestamp  dwell_time  correct
1582259        0           0         0  1.346450e+09       120.0      0.0
2012329        1           1         1  1.346450e+09        17.0      1.0
3961249        1           2         1  1.346451e+09        73.0      0.0
4703521        0           3         0  1.346451e+09       105.0      1.0
6065676        1           4         1  1.346451e+09        67.0      0.0
...          ...         ...       ...           ...         ...      ...
357851     10715        7435        69  1.379175e+09   3297933.0      0.0
752604     12328        3023        45  1.379249e+09   3672604.0      0.0
406102     11370       17009        45  1.379265e+09   4152537.0      0.0
3288044    10742        8867        81  1.379521e+09   3450799.0      0.0
1817838    10742        2383        69  1.379521e+09   3450761.0      0.0

[2431788 rows x 6 columns]

In [18]:
df = df.astype({
    'timestamp': np.float64,
    'dwell_time': np.float64,
    'correct': np.float64,
    'problem_id': np.int64,
    'skill_id': np.int64,
    'user_id': np.int64
    })

In [19]:
# Save
df.to_csv('/mnt/qb/work/mlcolab/hzhou52/kt/assistment12/'+'interactions_{}.csv'.format(remove_thres), sep='\t', index=False)

In [20]:
count_unique(df, list(df.columns))
len(df)

number of unique value in user_id: 12443
number of unique value in problem_id: 51866
number of unique value in skill_id: 263
number of unique value in timestamp: 2280512
number of unique value in dwell_time: 24573
number of unique value in correct: 8

2431788

In [ ]:
####################################

In [5]:
inter = pd.read_csv('/mnt/qb/work/mlcolab/hzhou52/kt/assistment12/interactions_50.csv',sep='\t')

In [6]:
inter

         user_id  problem_id  skill_id     timestamp  dwell_time  correct
0              0           0         0  1.346450e+09       120.0      0.0
1              1           1         1  1.346450e+09        17.0      1.0
2              1           2         1  1.346451e+09        73.0      0.0
3              0           3         0  1.346451e+09       105.0      1.0
4              1           4         1  1.346451e+09        67.0      0.0
...          ...         ...       ...           ...         ...      ...
2431783    10715        7435        69  1.379175e+09   3297933.0      0.0
2431784    12328        3023        45  1.379249e+09   3672604.0      0.0
2431785    11370       17009        45  1.379265e+09   4152537.0      0.0
2431786    10742        8867        81  1.379521e+09   3450799.0      0.0
2431787    10742        2383        69  1.379521e+09   3450761.0      0.0

[2431788 rows x 6 columns]

In [9]:
user_wise_dict = dict()
cnt, n_inters = 0, 0
for user, user_df in inter.groupby('user_id'):
    df = user_df[:50]  # consider the first 50 interactions
    user_wise_dict[cnt] = {
        'user_id': user,
        'skill_seq': df['skill_id'].values.tolist(), 
        'correct_seq': [round(x) for x in df['correct']],
        'time_seq': df['timestamp'].values.tolist(),
        'problem_seq': df['problem_id'].values.tolist()
    }
    cnt += 1
    n_inters += len(df)

In [11]:
user_seq_df = pd.DataFrame.from_dict(user_wise_dict, orient='index')

In [17]:
skill_seq = np.stack(list(user_seq_df['skill_seq']))[:9000]

In [18]:
skill_seq

array([[ 0,  0,  0, ..., 25, 37, 30],
       [ 1,  1,  1, ...,  7,  0,  0],
       [ 2,  2,  2, ...,  9,  9,  9],
       ...,
       [68, 68, 68, ..., 22, 22, 15],
       [68, 68, 68, ..., 22, 22, 22],
       [39, 39, 39, ..., 42, 42, 42]])

In [52]:
cross = []
for i in range(30):
    for j in range(20):
        test = np.concatenate([skill_seq[:, i:i+1], skill_seq[:, 30+j:31+j]], axis=-1)
        cross.append(test)

In [53]:
len(cross)

600

In [57]:
cross = np.stack(cross, 0).reshape(-1, 2)

In [59]:
unique_cross = np.unique(cross, axis=0)

In [60]:
unique_cross.shape

(15389, 2)

In [61]:
263*263

69169

In [64]:
cross = []
for i in range(49):
    for j in range(i+1, 50):
        test = np.concatenate([skill_seq[:, i:i+1], skill_seq[:, j:j+1]], axis=-1)
        cross.append(test)

In [65]:
len(cross)

1225

In [66]:
cross = np.stack(cross, 0).reshape(-1, 2)

In [67]:
unique_cross = np.unique(cross, axis=0)

In [68]:
unique_cross.shape

(18108, 2)